In [7]:
import pandas as pd

df=pd.read_csv("class_16S_sequences_week_9.csv")
ct = pd.crosstab(df['reverse_primer'], df['forward_primer'])
print(ct)
consensus_sequence = df.query("(forward_primer == 'C' and reverse_primer == 1) | (forward_primer == 'J' and reverse_primer == 5)| (forward_primer == 'E' and reverse_primer == 11)| (forward_primer == 'J' and reverse_primer == 18)")
seq_list= consensus_sequence['consensus_sequence'].tolist()

# Display both sequences if there are more than one
if len(seq_list) > 0:
    display(seq_list[0])  # First sequence
if len(seq_list) > 1:
    display(seq_list[1])  # Second sequence
if len(seq_list) > 2:
    display(seq_list[2]) 
if len(seq_list) > 3:
    display(seq_list[3]) 
# Display the filtered consensus_sequence DataFrame
display(consensus_sequence)

#Your code here
#c1=16 (seqlist0),e11=15(seqlist1), j5=c6(seqlist2)

forward_primer  A  B  C  D  E  F  G  H  I  J  L  R  S  U  V  W  Z
reverse_primer
0               0  1  2  0  0  0  0  0  1  0  0  0  0  0  0  0  0
1               0  0  1  1  0  1  0  1  0  0  0  0  0  0  0  0  0
2               0  3  0  1  0  0  0  0  0  2  1  0  0  0  0  0  0
3               0  0  2  1  1  1  1  0  0  3  0  0  0  0  0  0  1
4               1  0  0  3  0  0  1  0  1  1  0  0  0  0  0  0  0
5               0  0  1  0  0  0  0  0  2  1  0  0  0  0  0  0  0
6               0  1  0  0  1  0  0  1  0  0  0  0  0  1  0  0  0
7               1  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
8               1  2  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
9               0  2  0  0  0  0  1  0  0  1  0  0  0  0  0  0  0
10              0  0  0  0  0  0  1  0  0  2  0  1  1  0  1  0  0
11              0  1  0  0  1  0  1  0  1  0  0  0  0  0  0  0  0
12              0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
16              1  0  0  1  1  1  1  1  1  1  0  0  0  0  1  1  0
18              1  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
19              0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
32              0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0
33              0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0

'TAAACCTCGTCGCGTGCTTAACACATGCAAGTCGAACGGTGAAGCCCAGCTTGCTGGGTGGATCAGTGGCGAACGGGTGAGTAACACGTGAGCAACCTGCCCCTGACTCTGGGATAAGCGCTGGAAACGGCGTCTAATACTGGATATGTGACGTGACCGCATGGTCTGCGTCTGAAAGAATTTCGGTTGGGGATGGGCTCGCGGCCTATCAGCTTGTTGGTGAGGTAATGGCTCACCAAGGCGTCGACGGGTAGCCGGCCTGAGAGGGTGACCGGCCACACTGGGACTGAGACACGGCCCAGACTCCTACGGGAGGCAGCAGTGGGGAATATTGCACAATGGGCGCAAGCCTGATGCAGCAACGCCGCGTGAGGGATGACGGCCTTCGGGTTGTAAACCTCTTTTAGCAGGGAAGAAGCGAAAGTGACGGTACCTGCAGAAAAAGCGCCGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGGGCGCAAGCGTTATCCGGAATTATTCGGCATAAAGTCGTAGGCGGTTTGTCGCGTCTGCTGTGAAATCCGGAGGCTCAACCTCCGGCCTGCAGTGGGTACGGGCAGACTAGAGTGCGGTAGGGGAGTCAAATCCTGGTGTAGCGGTGGAATGCGCAGATATCAGGAGGAACACCGATGGCGAAGGCAGATCTCTGGGCCGTAACTGACGCTGAGGAGCGAAAGGGTGGGGAGCGGACGACTATACCCCTGGTAGTCCACCCCGTAAACGTTGGGAACTAGTTGTGGGGTCCATTCCACGGATTCCGTGACGCAGCTAACGCATTAAGACTCCCGCCTGGGGAGTACGGCCGCAAGGCTAAAACTCAAAGGAATTGACGGGGACCCGCACAAGCGGCGGAGCATGCGGATTAATTCGATGCAACGCGAAGAACCTTACCAAGGCTTGACATATACCGGAAAGCCGTAGAGATACGGCCCCCCTTGTGGTCGGTATACAGGTGGTGCATGGCTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGTCCCGCAACGAGCGCAACCCCTATCTTATGTTGCCAGCGCGTTATGGCGGGGACTCGTTGCCAGGGGTCAACTCGGAGGAAGGTGGGGACGACGTCAAGTCATCATGCCCCTTATGTCCAGGGCTTCACACATGCTACAATGGCCAGTACAAGAAGGGCTGCGAGACCGTGAGGTGGAGCGAATCCCTTAAAGCTGGTCTCAGTTCGGATTCGGGGTCTGCAACTCGACCCATGAATGAGAAGTCACGCTTAGTAATCGCAGATCAGCAACGCTGCAGTGAATACGTTCCCGGGCCTTGTACACACCGCCCGTCAAGTCACGAAAGTTGGTAACACCCGAAGCCGGTGGCCTAACCCCTTGTGGGAGGGGAGCTGTCGAAGGTGGGACTGGCGATTGGGACTAAGTCGTAAGCGTAACCGTCGAGCTGCTAAGCAATGG'

'GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAACCACTTCGGTGGGGATTAGTGGCGAACGGGTGAGTAACACGTGGGCAATCTGCCCTGCACTCTGGGACAAGCCCTGGAAACGGGGTCTAATACCGGATACTGACCCGCTTGGGCATCCAAGCGGTTCGAAAGCTCCGGCGGTGCAGGATGAGCCCGCGGCCTATCAGCTTGTTGGTGAGGTAATGGCTCACCAAGGCGACGACGGGTAGCCGGCCTGAGAGGGCGACCGGCCACACTGGGACTGAGACACGGCCCAGACTCCTACGGGAGGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCGACGCCGCGTGAGGGATGACGGCCTTCGGGTTGTAAACCTCTTTCAGCAGGGAAGAAGCGAAAGTGACGGTACCTGCAGAAGAAGCGCCGGCTAACTACGTGCCAGCAGCCGCGGTAATACGTAGGGCGCGAGCGTTGTCCGGAATTATTGGGCGTAAAGAGCTCGTAGGCGGCTTGTCACGTCGGTTGTGAAAGCCCGGGGCTTAACCCCGGGTCTGCAGTCGATACGGGCAGGCTAGAGTTCGGTAGGGGAGATCGGAATTCCTGGTGTAGCGGTGAAATGCGCAGATATCAGGAGGAACACCGGTGGCGAAGGCGGATCTCTGGGCCGATACTGACGCTGAGGAGCGAAAGCGTGGGGAGCGAACAGGATTAGATACCCTGGTAGTCCACGCCGTAAACGGTGGGCACTAGGTGTGGGCGACATTCCACGTCGTCCGTGCCGCAGCTAACGCATTAAGTGCCCCGCCTGGGGAGTACGGCCGCAAGGCTAAAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGCGGAGCATGTGGCTTAATTCGACGCAACGCGAAGAACCTTACCAAGGCTTGACATACACCGGAAAGCATCAGAGATGGTGCCCCCCTTGTGGTCGGTGTACAGGTGGTGCATGGCTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGTCCCGCAACGAGCGCAACCCTTGTCCCGTGTTGCCAGCAGGCCCTTGTGGTGCTGGGGACTCACGGGAGACCGCCGGGGTCAACTCGGAGGAAGGTGGGGACGACGTCAAGTCATCATGCCCCTTATGTCTTGGGCTGCACACGTGCTACAATGGCCGGTACAATGAGCTGCGATACCGCGAGGTGGAGCGAATCTCAAAAAGCCGGTCTCAGTTCGGATTGGGGTCTGCAACTCGACCCCATGAAGTCGGAGTCGCTAGTAATCGCAGATCAGCATTGCTGCGGTGAATACGTTCCCGGGCCTTGTACACACCGCCCGTCACGTCACGAAAGTCGGTAACACCCGAAGCCGGTGGCCCAACCCCTTGTGGGAGGGAGCTGTCGAAGGTGGGACTGGCGATTGGGACGAAGTCGTAACAAGGTAACCGATGCTCACCTAGAGCAATACGTAACTGAACAA'

'AGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGCAGCACAGGGGAGCTTGCTCCCTGGGTGGCGAGTGGCGGACGGGTGAGGAATACATCGGAATCTACCTTGTCGTGGGGGATAACGTAGGGAAACTTACGCTAATACCGCATACGACCTACGGGTGAAAGCGGAGGACCGCAAGGCTTCGCGCGATTGGATGAGCCGATGTCGGATTAGCTTGTTGGCGGGGTAACGGCCCACCAAGGCGACGATCCGTAGCTGGTCTGAGAGGATGATCAGCCACACTGGAACTGAGACACGGTCCAGACTCCTACGGGAGGCAGCAGTGGGGAATATTGGACAATGGGCGCAAGCCTGATCCAGCCATGCCGCGTGAGTGAAGAAGGCCCTCGGGTTGTAAAGCTCTTTTGTTGGGGAAGAAAAGCAATCGGTTAATACCCGGTTGTCCTGACGGTACCCAAAGAATAAGCACCGGCTAACTTCGTGCCAGCAGCCGCGGTAATACGAAGGGTGCAAGCGTTACTCGGAATTACTGGGCGTAAAGCGTGCGTAGGTGGTTTGTTAAGTCTGATGTGAAAGCCCTGGGCTCAACCTGGGAATTGCACTGGATACTGGCAGGCTAGAGTGCGGTAGAGGATGGCGGAATTCCCGGTGTAGCAGTGAAATGCGTAGAGATCGGGAGGAACATCTGTGGCGAAGGCGGCCATCTGGACCAGCACTGACACTGAGGCACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTGGTAGTCCACGCCCTAAACGATGCGAACTGGATGTTGGGAGCAACTAGGCTCTCAGTATCGAAGCTAACGCGTTAAGTTCGCCGCCTGGGGAGTACGGTCGCAAGACTGAAACTCAAAGGAATTGACGGGGGCCCGCACAAGCGGTGGAGTATGTGGTTTAATTCGATGCAACGCGAAGAACCTTACCTGGCCTTGACATCCACGGAACTTACCAGAGATGGTTTGGTGCCTTCGGGAACCGTGAGACAGGTGCTGCATGGCTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGTCCCGCAACGAGCGCAACCCTTGTCCTTAGTTGCCAGCACGTAATGGTGGGAACTCTAAGGAGACCGCCGGTGACAAACCGGAGGAAGGTGGGGATGACGTCAAGTCATCATGGCCCTTACGGCCAGGGCTACACACGTACTACAATGGAAAGGACAGAGGGCAGCAATCCCGCGAGGGGGAGCCAATCCCAGAAACCTTTTCTCAGTCCGGATCGGAGTCTGCAACTCGACTCCGTGAAGTCGGAATCGCTAGTAATCGCAGATCAGCATTGCTGCGGTGAATACGTTCCCGGGCCTTGTACACACCGCCCGTCACACCATGGGAGTGGGTTGCACCAGAAGTAGCTAGTCTAACCTTCGGGAGGACGGTTACCACGGTGTGATTCATGACTGGGGTGAAGTCGTAACAAGGTAACCGTGTCTACGCTAGAGCAATACGT'

'ATTGAACGCTGGCGGCAGGCCTGACACCGTGCAGATCAGACAATCAGAAGAGCTTGCTCTTCAATTCAGCGGCGGACGGGTGAGTAATGCCTAGGAATCTGCCTGGTAGTGGGGGACAACGTTTCGAAAGGAACGCTAATACCGCATACGTCCTACGGGAGAAAGCAGGGAGCCTCGGGCCTTGCGCTATCAGATGAGCCTAGGTCGGATTAGCTAGTTGGTGAGGTAATGGCTCACCAAGGCGACGATCCGTAACTGGTCTGAGAGGATGATCAGTCACACTGGAACTGAGACACGGTCCAGACTCCTACGGGAGGCAGCAGTGGGGAATCTGGACAATGGGCGAAAGCCTAGTCCAGCCATGCCGCGTGTGTGAAGAAGGTCTTCGGATTGTAAAGCACTTTAAGTTGGGAGGAGGGCATGCACCTAATACGTGTGTGTCTTGACGTTACCGACAGAATAAGCACCGGCTAACTCTGTGCCAGCAGCCGCGGTAATACAGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGGTGGTTCGTTGAGTTGAATGTGAAATCCCCGGGCTCAACCTGGGAACTGCATCAAAACTGGCAAGCTGAGTTCTGGTAGAGGGTGGTGGAATTTCCTGTGTAGCGGTGAGATGATAGGAACACCAGTGGCGAAGGCGACCACCTGGACTGATACTGACACTGAGGTGCGAGAGCGGGAAGCGAAGCGGATTAGATACCCTGGTAGTCCACGCCGTAAACGATGTCAACTAGCCGTTGGGAGCCTTGAGCTCTTAGTGGCGCAGCTAACGCATTAAGTTGACCGCACGCCTGGGGATGCGGCCGCAAGGTTAAAACTCAAATGAATTGACGGGGGCCCGCACAAGCGGTGGAGCATGTCGGATTAGATTGGAGGACAACGCGAAGAACCTTGCCTTGACATCAATGAACTTTCCAGAGATGGATTGGTGCCTTCGGGAACATTGAGACAGGTGCTGCATGGCTGTCGTCAGCTCGTGTCGTGAGATGTTGGGTTAAGTCCCGTAACGAGCGCAACCCTTGTCCTTAGTTACCAGCACGTTAAGGTGGGCACTACCGTCCGGTGACAAACCGGAGGAAGGTGGGGGATGGCTGGAATTAGTCATGGCCCTTACGGCCTACGCACGTGCTCAATCGTGGTACAAGAGGGTTGCCAAGCCGCGAGGTGGAGCTAATCCCAAGAAAAACCGATAATCCGGATCGCCGTCTGCAACTCGACTGCGTGAAGTCGGAATCGCTAGTAATCGCGAATCAGAATGTCGCGGTGAATACGTACCGGGCCTTGCACACACCACCGTCACACCAGTGGAATGGTGGCCCAGAAGTAGCTAGTCTAACCTTCGGGAGGACGGTTACCACGGTGTGATTCATGACTGGGGTGAAGTCGTAACAAGGTAGCCGGCGCATAGTCTAGAGCAATACG'

,forward_primer,reverse_primer,descriptor,consensus_sequence,16S_seq_length
17,C,1,54ad1885-9646-4c70-8619-de9ae41c8821,TAAACCTCGTCGCGTGCTTAACACATGCAAGTCGAACGGTGAAGCC...,1469
32,E,11,consensus_E_11_0_0(61),GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAA...,1500
59,J,5,consensus_J_5_0_0(24),AGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGCAGC...,1509
67,J,18,0064a29b-3204-48b7-ae7b-8cfd0834c1d3,ATTGAACGCTGGCGGCAGGCCTGACACCGTGCAGATCAGACAATCA...,1468
68,J,18,f963612b-fe12-4737-8f80-928f3ed57e0f,ATTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAGCGGATGA...,1501

In [8]:
import pandas as pd

df=pd.read_csv("class_16S_sequences_week_9.csv")
ct = pd.crosstab(df['reverse_primer'], df['forward_primer'])
print(ct)
print(df['forward_primer'].unique())
print(df['reverse_primer'].unique())
df['reverse_primer'] = df['reverse_primer'].astype(int)
colony_16=df.query("forward_primer== 'G' and reverse_primer== 1")
print (colony_16)
seq_list= colony_16['consensus_sequence'].tolist()
display(seq_list)

forward_primer  A  B  C  D  E  F  G  H  I  J  L  R  S  U  V  W  Z
reverse_primer
0               0  1  2  0  0  0  0  0  1  0  0  0  0  0  0  0  0
1               0  0  1  1  0  1  0  1  0  0  0  0  0  0  0  0  0
2               0  3  0  1  0  0  0  0  0  2  1  0  0  0  0  0  0
3               0  0  2  1  1  1  1  0  0  3  0  0  0  0  0  0  1
4               1  0  0  3  0  0  1  0  1  1  0  0  0  0  0  0  0
5               0  0  1  0  0  0  0  0  2  1  0  0  0  0  0  0  0
6               0  1  0  0  1  0  0  1  0  0  0  0  0  1  0  0  0
7               1  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0
8               1  2  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0
9               0  2  0  0  0  0  1  0  0  1  0  0  0  0  0  0  0
10              0  0  0  0  0  0  1  0  0  2  0  1  1  0  1  0  0
11              0  1  0  0  1  0  1  0  1  0  0  0  0  0  0  0  0
12              0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
16              1  0  0  1  1  1  1  1  1  1  0  0  0  0  1  1  0
18              1  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
19              0  0  0  0  0  0  0  0  0  2  0  0  0  0  0  0  0
32              0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0
33              0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'L' 'R' 'S' 'U' 'V' 'W' 'Z']
[ 4  7  8 16 18  0  2  6  9 11  1  3  5 33 10 32 12 19]
Empty DataFrame
Columns: [forward_primer, reverse_primer, descriptor, consensus_sequence, 16S_seq_length]
Index: []

[]

In [16]:
pip install requests
import requests

# Replace with the raw GitHub URL of the CSV file
url = 'https://raw.githubusercontent.com/your-username/your-repository/main/path/to/class_16S_sequences_week_9.csv'

# Send a GET request to fetch the CSV
response = requests.get(url)

# Save the content to a local file
with open('class_16S_sequences_week_9.csv', 'wb') as file:
    file.write(response.content)

print("File downloaded successfully!")

SyntaxError: invalid syntax (3675549968.py, line 1)

In [9]:
df1=pd.read_csv('16S_reference-Copy1.csv')
display(df1)

,id,sequence,species
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684)
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163)
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683)
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036)
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489)
...,...,...,...
15150,Bacteria;Actinobacteria;Actinobacteria;Actinom...,AGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAACACA...,Leucobacter_komagatae(NR_112021.1)
15151,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GATGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Thermobifida_fusca(NR_112015.1)
15152,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAA...,Microbispora_mesophila(NR_112014.1)
15153,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAA...,Parvopolyspora_pallida(NR_112013.1)
15154,Bacteria;Proteobacteria;Gammaproteobacteria;En...,ACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGTAGCACAGa...,Klebsiella_oxytoca(NR_112010.1)

In [4]:
!pip install levenshtein
#pip is a package manager:this command installs the levenshtein package on our Noteable instance.

Collecting levenshtein
  Using cached levenshtein-0.27.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (160 kB)
Collecting rapidfuzz<4.0.0,>=3.9.0
  Using cached rapidfuzz-3.12.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
Installing collected packages: rapidfuzz, levenshtein
  Attempting uninstall: rapidfuzz
    Found existing installation: rapidfuzz 3.2.0
    Uninstalling rapidfuzz-3.2.0:
      Successfully uninstalled rapidfuzz-3.2.0
Successfully installed levenshtein-0.27.1 rapidfuzz-3.12.2

In [5]:
from Levenshtein import distance

In [10]:
from Levenshtein import distance

# Compare to seq_list[0]
string_to_compare_0 = seq_list[0]
df1['distance_0'] = df1['sequence'].apply(distance, args=(string_to_compare_0,))

# Display the updated DataFrame with distance_0
display(df1.head(10))

# Find the minimum distance for distance_0
min_distance_0 = df1['distance_0'].min()
best_match_0 = df1.query("distance_0 == @min_distance_0")
display(best_match_0)

# Compare to seq_list[1]
string_to_compare_1 = seq_list[1]
df1['distance_1'] = df1['sequence'].apply(distance, args=(string_to_compare_1,))

# Display the updated DataFrame with distance_1
display(df1.head(10))

# Find the minimum distance for distance_1
min_distance_1 = df1['distance_1'].min()
best_match_1 = df1.query("distance_1 == @min_distance_1")
display(best_match_1)

# Compare to seq_list[2]
string_to_compare_2 = seq_list[2]
df1['distance_2'] = df1['sequence'].apply(distance, args=(string_to_compare_2,))

# Display the updated DataFrame with distance_2
display(df1.head(10))

# Find the minimum distance for distance_2
min_distance_2 = df1['distance_2'].min()
best_match_2 = df1.query("distance_2 == @min_distance_2")
display(best_match_2)

,id,sequence,species,distance_0
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684),244
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163),447
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683),239
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036),458
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489),420
5,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAG...,Couchioplanes_caeruleus(D85479),219
6,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,ATGGCTCAGAACGAACGCTGGCGGCAGGCCTAACACATGCAAGTCG...,Maritimibacter_alkaliphilus(DQ915443),433
7,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TCTGTAAGTAGCAGGAAAGGCCCTTCGGGGTACTCGAGCGGCGAAC...,Nocardioides_fonticola(EF626689),273
8,Bacteria;Proteobacteria;Gammaproteobacteria;Al...,AGGCCTAACACATGCAAGTCGAGCGGTAACACAAGGGAGCTTGCTC...,Shewanella_schlegeliana(AB081760),423
9,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Lentzea_albida(AB006176),214

,id,sequence,species,distance_0
8329,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TGGCGGCGTGCTTAACACATGCAAGTCGAACGGTGAACACGGAGCT...,Microbacterium_oxydans(Y17227),140

,id,sequence,species,distance_0,distance_1
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684),244,228
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163),447,411
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683),239,226
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036),458,435
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489),420,409
5,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAG...,Couchioplanes_caeruleus(D85479),219,182
6,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,ATGGCTCAGAACGAACGCTGGCGGCAGGCCTAACACATGCAAGTCG...,Maritimibacter_alkaliphilus(DQ915443),433,400
7,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TCTGTAAGTAGCAGGAAAGGCCCTTCGGGGTACTCGAGCGGCGAAC...,Nocardioides_fonticola(EF626689),273,256
8,Bacteria;Proteobacteria;Gammaproteobacteria;Al...,AGGCCTAACACATGCAAGTCGAGCGGTAACACAAGGGAGCTTGCTC...,Shewanella_schlegeliana(AB081760),423,408
9,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Lentzea_albida(AB006176),214,163

,id,sequence,species,distance_0,distance_1
6068,Bacteria;Actinobacteria;Actinobacteria;Actinom...,ACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAAC...,Streptomyces_griseorubens(AB184139),203,39

,id,sequence,species,distance_0,distance_1,distance_2
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684),244,228,370
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163),447,411,305
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683),239,226,369
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036),458,435,408
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489),420,409,283
5,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAG...,Couchioplanes_caeruleus(D85479),219,182,358
6,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,ATGGCTCAGAACGAACGCTGGCGGCAGGCCTAACACATGCAAGTCG...,Maritimibacter_alkaliphilus(DQ915443),433,400,405
7,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TCTGTAAGTAGCAGGAAAGGCCCTTCGGGGTACTCGAGCGGCGAAC...,Nocardioides_fonticola(EF626689),273,256,401
8,Bacteria;Proteobacteria;Gammaproteobacteria;Al...,AGGCCTAACACATGCAAGTCGAGCGGTAACACAAGGGAGCTTGCTC...,Shewanella_schlegeliana(AB081760),423,408,292
9,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Lentzea_albida(AB006176),214,163,343

,id,sequence,species,distance_0,distance_1,distance_2
3661,Bacteria;Proteobacteria;Gammaproteobacteria;Xa...,GAGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGCAG...,Lysobacter_panaciterrae(AB245359),394,376,88

In [53]:
string_to_compare_3 = seq_list[3]
df1['distance_3'] = df1['sequence'].apply(distance, args=(string_to_compare_3,))
min_distance_3 = df1['distance_2'].min()
best_match_3 = df1.query("distance_3 == @min_distance_3")
display(best_match_3)

Empty DataFrame
Columns: [id, sequence, species, distance_1, distance_2, distance_0, distance_3]
Index: []

In [11]:
from Levenshtein import distance

# First, check if there's an existing 'distance' column and drop it
if 'distance' in df1.columns:
    df1.drop(columns=['distance'], inplace=True)

# Now calculate the Levenshtein distance for each sequence
string_to_compare_0 = seq_list[0]
df1['distance_0'] = df1['sequence'].apply(distance, args=(string_to_compare_0,))

string_to_compare_1 = seq_list[1]
df1['distance_1'] = df1['sequence'].apply(distance, args=(string_to_compare_1,))

string_to_compare_2 = seq_list[2]
df1['distance_2'] = df1['sequence'].apply(distance, args=(string_to_compare_2,))

# Display the DataFrame with the updated distance columns
display(df1.head(10))

# Calculate the minimum distances and find the best matches
min_distance_0 = df1['distance_0'].min()
best_match_0 = df1.query("distance_0 == @min_distance_0")
display(best_match_0)

min_distance_1 = df1['distance_1'].min()
best_match_1 = df1.query("distance_1 == @min_distance_1")
display(best_match_1)

min_distance_2 = df1['distance_2'].min()
best_match_2 = df1.query("distance_2 == @min_distance_2")
display(best_match_2)

,id,sequence,species,distance_0,distance_1,distance_2
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684),244,228,370
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163),447,411,305
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683),239,226,369
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036),458,435,408
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489),420,409,283
5,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAG...,Couchioplanes_caeruleus(D85479),219,182,358
6,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,ATGGCTCAGAACGAACGCTGGCGGCAGGCCTAACACATGCAAGTCG...,Maritimibacter_alkaliphilus(DQ915443),433,400,405
7,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TCTGTAAGTAGCAGGAAAGGCCCTTCGGGGTACTCGAGCGGCGAAC...,Nocardioides_fonticola(EF626689),273,256,401
8,Bacteria;Proteobacteria;Gammaproteobacteria;Al...,AGGCCTAACACATGCAAGTCGAGCGGTAACACAAGGGAGCTTGCTC...,Shewanella_schlegeliana(AB081760),423,408,292
9,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Lentzea_albida(AB006176),214,163,343

,id,sequence,species,distance_0,distance_1,distance_2
8329,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TGGCGGCGTGCTTAACACATGCAAGTCGAACGGTGAACACGGAGCT...,Microbacterium_oxydans(Y17227),140,202,349

,id,sequence,species,distance_0,distance_1,distance_2
6068,Bacteria;Actinobacteria;Actinobacteria;Actinom...,ACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAAC...,Streptomyces_griseorubens(AB184139),203,39,347

,id,sequence,species,distance_0,distance_1,distance_2
3661,Bacteria;Proteobacteria;Gammaproteobacteria;Xa...,GAGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGCAG...,Lysobacter_panaciterrae(AB245359),394,376,88

In [12]:
from Levenshtein import distance

# First, check if there's an existing 'distance' column and drop it
if 'distance' in df1.columns:
    df1.drop(columns=['distance'], inplace=True)

# Now calculate the Levenshtein distance for each sequence
#colony16
string_to_compare_0 = seq_list[0]
df1['distance_0'] = df1['sequence'].apply(distance, args=(string_to_compare_0,))
#colony15
string_to_compare_1 = seq_list[1]
df1['distance_1'] = df1['sequence'].apply(distance, args=(string_to_compare_1,))
#colonyc6
string_to_compare_2 = seq_list[2]
df1['distance_2'] = df1['sequence'].apply(distance, args=(string_to_compare_2,))

# Display the DataFrame with the updated distance columns
display(df1.head(10))

# Find the best match and the second best match
# For distance_0
min_distance_0 = df1['distance_0'].min()
best_match_0 = df1.query("distance_0 == @min_distance_0")
display(best_match_0)

# Find the second minimum distance for distance_0
second_min_distance_0 = df1['distance_0'][df1['distance_0'] != min_distance_0].min()
second_best_match_0 = df1.query("distance_0 == @second_min_distance_0")
display(second_best_match_0)

# For distance_1
min_distance_1 = df1['distance_1'].min()
best_match_1 = df1.query("distance_1 == @min_distance_1")
display(best_match_1)

# Find the second minimum distance for distance_1
second_min_distance_1 = df1['distance_1'][df1['distance_1'] != min_distance_1].min()
second_best_match_1 = df1.query("distance_1 == @second_min_distance_1")
display(second_best_match_1)

# For distance_2
min_distance_2 = df1['distance_2'].min()
best_match_2 = df1.query("distance_2 == @min_distance_2")
display(best_match_2)

# Find the second minimum distance for distance_2
second_min_distance_2 = df1['distance_2'][df1['distance_2'] != min_distance_2].min()
second_best_match_2 = df1.query("distance_2 == @second_min_distance_2")
display(second_best_match_2)

,id,sequence,species,distance_0,distance_1,distance_2
0,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGAAAGGTC...,Mycobacterium_heidelbergense(AJ000684),244,228,370
1,Bacteria;Proteobacteria;Gammaproteobacteria;Vi...,GTTTGATCCTGGCTCAGATTGAACGCTGGCGGCAGGCCTAACACAT...,Vibrio_atlanticus(EF599163),447,411,305
2,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TAGAGTTTGATCCTGGCTCAGGACGAACGCTGGCGGCGTGCTTAAC...,Mycobacterium_aubagnense(AY859683),239,226,369
3,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,AAGAGTTTGATCCTGGCTCAGAGCGAACGCTGGCGGCATGCTTAAC...,Acetobacter_senegalensis(AY883036),458,435,408
4,Bacteria;Proteobacteria;Betaproteobacteria;Bur...,ATTGAACGCTGGCGGCATGCCTTACACATGCAAGTCGAACGGTAAC...,Aquincola_tertiaricarbonis(DQ656489),420,409,283
5,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGAAAG...,Couchioplanes_caeruleus(D85479),219,182,358
6,Bacteria;Proteobacteria;Alphaproteobacteria;Rh...,ATGGCTCAGAACGAACGCTGGCGGCAGGCCTAACACATGCAAGTCG...,Maritimibacter_alkaliphilus(DQ915443),433,400,405
7,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TCTGTAAGTAGCAGGAAAGGCCCTTCGGGGTACTCGAGCGGCGAAC...,Nocardioides_fonticola(EF626689),273,256,401
8,Bacteria;Proteobacteria;Gammaproteobacteria;Al...,AGGCCTAACACATGCAAGTCGAGCGGTAACACAAGGGAGCTTGCTC...,Shewanella_schlegeliana(AB081760),423,408,292
9,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAGCGGTAAG...,Lentzea_albida(AB006176),214,163,343

,id,sequence,species,distance_0,distance_1,distance_2
8329,Bacteria;Actinobacteria;Actinobacteria;Actinom...,TGGCGGCGTGCTTAACACATGCAAGTCGAACGGTGAACACGGAGCT...,Microbacterium_oxydans(Y17227),140,202,349

,id,sequence,species,distance_0,distance_1,distance_2
4025,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GATGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGGTGAA...,Microbacterium_phyllosphaerae(AJ277840),143,189,343

,id,sequence,species,distance_0,distance_1,distance_2
6068,Bacteria;Actinobacteria;Actinobacteria;Actinom...,ACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAAC...,Streptomyces_griseorubens(AB184139),203,39,347

,id,sequence,species,distance_0,distance_1,distance_2
427,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAA...,Streptomyces_griseoflavus(AJ781322),200,41,349
1198,Bacteria;Actinobacteria;Actinobacteria;Actinom...,GACGAACGCTGGCGGCGTGCTTAACACATGCAAGTCGAACGATGAA...,Streptomyces_griseoincarnatus(AJ781321),203,41,350

,id,sequence,species,distance_0,distance_1,distance_2
3661,Bacteria;Proteobacteria;Gammaproteobacteria;Xa...,GAGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGAACGGCAG...,Lysobacter_panaciterrae(AB245359),394,376,88

,id,sequence,species,distance_0,distance_1,distance_2
4592,Bacteria;Proteobacteria;Gammaproteobacteria;Xa...,CTGGTCAGAGTAACGCTGGCGGTAGGCCTAACACATGCAAGTCGAA...,Luteimonas_vadosa(AB704915),399,378,95
13665,Bacteria;Proteobacteria;Gammaproteobacteria;Xa...,TGGCTCAGAGTGAACGCTGGCGGCAGGCCTAACACATGCAAGTCGA...,Lysobacter_lycopersici(NR_136845.1),390,361,95